<div class="row">
  <div class="col-xs-12 col-md-10">
    <h1>My Favourites</h1>
      <% @favourites.each do |favourite| %>
          <%= render :partial => 'pictures/picture', :locals => {:picture => favourite.picture}  %>
      <% end %>
  </div>

    <%= render :partial => 'sidenav', :locals => {:user => @authenticated} %>
</div>