<div class="row">
  <%= render :partial => 'sidenav', :locals => {:user => @authenticated} %>
  <div class="col-md-10 col-md-pull-2">
    <h2>Glimpsed Users</h2>

      <% @users.each do |user| %>
      <div class="col-sm-6 col-md-3">
        <div class="user_index">
          <h3><%= link_to user.username, user_path(user) %> </h3>
          <%== link_to raw("<div class='thumbnail' style='background-image:url(#{user.image_url})'></div>"), user_path(user) %>
        </div>
      </div>
      <% end %>
  </div>

</div>