<h1>This is the favourite/index page</h1>


  <% @favourites.each do |favourite| %>
    <% favourite.pictures.each do |picture| %>
     <h5><%= link_to picture.user.username, user_path(picture.user) %> </h5>
      <%= image_tag picture.picture %>
    <% end %>
  <% end %>

