<div class="row">


  <div class="marketing col-lg-3">
            <h2>Welcome to Glimpsed</h2>
            <p>It is home to the best shots in your collection, the pictures that tell your story, the photographs you will always treasure. Special moments, glimpsed for an instant.</p>
            <p><%= link_to 'Explore', pictures_path, :class => "btn btn-default", :role => "button" %></p>
  </div><!-- marketing /.col-lg-3 -->



  <div class="col-lg-6">

    <h1>Glimpsed</h1>
    <h1 class="sub_title">Special moments, glimpsed for an instant</h3>


      <!-- Carousel
      ================================================== -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% active = "active" %>
          <% @pictures.each do |picture| %>
          <div class="item <%= active %>" style='background-image:url(<%= picture.picture_url %>)'></div>
            <% active = '' %>
          <% end %>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div><!-- /.carousel -->
  </div>



  <div class="marketing col-lg-3 signup">
            <h2>Sign Up</h2>
            <p>Join the Glimpsed community. Sign up and share in the passion and enjoyment.  </p>
            <p><%= link_to 'Create Account', new_user_path, :class => "btn btn-default", :role => "button" %></p>
  </div><!-- marketing /.col-lg-3 -->


</div><!-- /.row -->

