

   <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag(picture.picture), picture_path(picture), class: "thumbnail" %>
      <div class="caption">
        <p class="thumb_cap"><%= picture.name %></p>
        <p class="thumb_cap"><strong><%= link_to picture.user.username, user_path(picture.user) %> </strong></p>
      </div>
    </div>
</div>