<h1>This is the page that displays FAVOURITES</h1>


  <% @favourites.each do |favourite| %>
    <% @pictures.each do |picture| %>
      <%= render :partial => 'picture_display' %>
    <% end %>
  <% end %>
